/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 40px;
  left: 36px;
  top: 36px;
  background-color: white;
  border: 5px solid white;
  border-radius: 5px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: black;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 200px !important;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  height: 50% !important;
  border-radius: 0 0 50px 0px;
}

.bm-item-list {
  height: 100%;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: white;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: white;
}

.HamburgerHeader__main {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 16px;
  box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.1);
  z-index: 3;
  top: 0;
  position: fixed;
  background: white;
}

.HamburgerHeader__name {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  text-decoration: none;
  margin-bottom: 30px;
  font-size: 16px;
}

.HamburgerHeader__sections {
  display: flex !important;
  gap: 25px;
  flex-direction: column;
  font-size: 16px;
}

.HamburgerHeader__sections_elements {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid #bdc3c7;
}

.HamburgerHeader__sections_elements:hover {
  color: #0079d1;
  transition: 0.5s ease;
}

.HamburgerHeader__sections_elements:active {
  color: #0079d1;
  transition: 0.5s ease;
}
