.Title__main {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Title__slashes__blue {
  color: #0079d1;
}

.Title__slahes__green {
  color: #13c69c;
}

.Title__name {
  letter-spacing: 1.6px;
}
